{
    "proj_id":"infra-211620",
    "machine_type": "f1-micro",
    "source_image_family": "ubuntu-1604-lts",
    "disk_size": "15",
    "disk_type": "pd-ssd",
    "image_description": "VM for reddit appp via Packer",
    "tags":"puma-server,puma2",
    "ssh_username":"appuser"
}